graphs {
  priority: 0

  engines {
    id: 611
    engine_name: "DataInput"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config { 

      items {
        name: "path"
        value: "/home/robot/AscendProjects/openpose_det/resource/data/"
      }

      items {
        name: "target"
        value: "RC"
      }
    }
  }

  engines {
    id: 814
    engine_name: "ImagePreProcess"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config { 

      items {
        name: "resize_width"
        value: "128"
      }

      items {
        name: "resize_height"
        value: "128"
      }
    }
  }

  engines {
    id: 226
    engine_name: "MindInferenceEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config { 

      items {
        name: "model_path"
        value: "/home/robot/MindStudio/openpose_det/resource/pose_deploy.om"
      }
    }
  }

  engines {
    id: 368
    engine_name: "SaveFilePostProcess"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {
      items {
        name: "path"
        value: "/home/robot/AscendProjects/openpose_det/out/"
      }

      items {
        name: "mode"
        value: "normal"
      }
    }
  }

  engines {
    id: 421
    engine_name: "MindInferenceEngineGesture"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "model_path"
        value: "/home/robot/Desktop/stgcn_fps30_sta_ho_ki4.om"
      }
    }
  }

  connects {
    src_engine_id: 611
    src_port_id: 0
    target_engine_id: 814
    target_port_id: 0
  }

  connects {
    src_engine_id: 814
    src_port_id: 0
    target_engine_id: 226
    target_port_id: 0
  }

  connects {
    src_engine_id: 226
    src_port_id: 0
    target_engine_id: 368
    target_port_id: 0
  }

  connects {
    src_engine_id: 368
    src_port_id: 0
    target_engine_id: 421
    target_port_id: 0
  }

}
